.p5 {
  background-color: #fff;

  .hero {
    position: relative;
    width: 100%;
  }

  .hero-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .frame1 {
    z-index: 10;
    position: relative;
    min-height: 415px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.34);
  }

  .frame2 {
    z-index: 10;
    position: relative;
    padding-inline: 75px;
    padding-top: 30px;
    padding-bottom: 40px;
    color: white;

    .frame2-title {
      font-size: 35px;
      margin-bottom: 5px;
    }

    .frame2-text {
      display: flex;
      flex-direction: column;
      text-align: left;
      min-width: 50%;
      max-width: 700px;
      font-size: 17px;
      font-weight: 300;
    }
  }

  .blogs {
    padding-inline: 75px;
    padding-block: 30px;
  }

  .blog {
    margin-block: 50px;
  }

  .blog-title {
    font-size: 25px;
    font-weight: 500;
  }

  .blog-date {
    margin-block: 5px;
  }

  .blog-date, .blog-desc {
    font-size: 15px;
  }

  .blog:hover .blog-title {
    text-decoration: underline;
  }

  @media (max-width: 850px) {
    .hero {
      display: block;
      height: fit-content;
    }

    .frame1 {
      min-height: 458px;
    }

    .frame2 {
      padding-inline: 25px;
    }

    .blogs {
      padding-inline: 25px;
    }
  }
}
