.nav-black, .nav:has(.nav-mobile:not(.collapse)) {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.nav {
  border-bottom: 1px solid rgba(197, 197, 197, .34);
  transition: background-color 100ms linear;
  color: #f0f0f0;
  position: fixed;
  width: 100%;
  z-index: 20;

  .nav-wrapper {
    padding-block: 15px;
    padding-inline: 75px;
    display: flex;
    justify-content: space-between;
  }

  .nav-logo-parent {
    display: flex;
    align-items: center;
  }

  .nav-logo {
    height: 34px;
  }

  .nav-btns {
    height: 100%;
  }

  .nav-btn {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-inline: 15px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
  }

  .nav-btn-highlight {
    background-color: var(--color-mc);
    border-radius: 3px;
    margin-left: 15px;
  }

  .nav-burger {
    display: none;
    cursor: pointer;
  }

  .nav-mobile {
    max-height: 0px;
    overflow: hidden;
  }
}

@media (max-width: 850px) {
  .nav {
    .nav-wrapper {
      padding-inline: 25px;
    }

    .nav-burger {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .nav-group .nav-btns {
      display: none;
    }

    .nav-btn {
      display: block;
      border-top: 0.5px solid #333;
      padding-block: 14px;
      padding-inline: 25px;
    }

    .nav-mobile {
      overflow: hidden;
      transition: max-height 300ms ease-in-out;
    }

    .nav-mobile:not(.collapse) {
      max-height: 300px;
    }

    .nav-btn-highlight {
      background-color: inherit;
      margin-left: 0;
    }
  }
}
